:root{
    --color : hsl(257, 40%, 49%);
}

body{
    box-sizing: border-box;
    background-image: url(../images/bg-mobile.svg);
   background-size: contain;
    background-repeat: no-repeat;
    background-color:var(--color) ;
    font-family: 'Open Sans', sans-serif;
}
.text-purple{
    color: var(--color);
}
h1{
    font-family: 'Poppins', sans-serif;
}

@media screen and (min-width: 680px){
    body{
        background-image: url(../images/bg-desktop.svg);
    }
}